.container {
  font-size: 0.3em;
  height: 31.25em;
  width: 31.25em;
  position: absolute;
  right: 26%;
  top: 3%;
  bottom: 0;
  animation: fly 4s infinite;
}
@keyframes fly {
  50% {
    transform: translateY(-2.12em);
  }
}
.bee {
  height: 7.5em;
  width: 12.5em;
  background: linear-gradient(
    to right,
    #f4c13d 30%,
    #0d323e 30%,
    #0d323e 45%,
    #f4c13d 45%,
    #f4c13d 55%,
    #0d323e 55%,
    #0d323e 70%,
    #f4c13d 70%,
    #f4c13d 80%,
    #0d323e 80%
  );
  border-radius: 5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: inset 0 -1.56em rgba(0, 0, 0, 0.15);
}
.bee:before {
  position: absolute;
  content: "";
  height: 0.87em;
  width: 0.87em;
  background-color: #0d323e;
  border-radius: 50%;
  top: 3.43em;
  left: 1.25em;
}
.bee:after {
  position: absolute;
  content: "";
  height: 0.31em;
  width: 1.87em;
  background-color: #0d323e;
  border-radius: 0.31em;
  top: 3.43em;
  left: 11.87em;
}
.wings {
  position: absolute;
  height: 5em;
  width: 5em;
  background-color: #ea92b9;
  border-radius: 5em 5em 0 5em;
  top: 7.5em;
  left: 11.25em;
}
.wings:before {
  position: absolute;
  content: "";
  height: 5em;
  width: 5em;
  background-color: #ea92b9;
  border-radius: 5em 5em 5em 0;
  left: 4.68em;
}
.wings:after {
  height: 3.75em;
  width: 3.75em;
  position: absolute;
  content: "";
  box-shadow: -0.62em -0.62em #f2c7c9;
  border-radius: 50%;
  top: 1.12em;
  left: 1.12em;
}
.shine {
  position: absolute;
  height: 1.25em;
  width: 7.5em;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1.25em;
  top: 1.25em;
  left: 3.12em;
}
.shine:before {
  position: absolute;
  content: "";
  height: 3.12em;
  width: 0.93em;
  background-color: #0b2b35;
  border-radius: 0.93em;
  transform: rotate(-30deg);
  top: 4.68em;
  left: 1.87em;
  box-shadow: 2.5em 1.25em #0b2b35;
}

.chat-bubble {
  position: absolute;
  top: 1em;
  left: 1em;
  background: white;
  color: black;
  font-size: 3.2em;
  padding: 0.5em 0.8em;
  border-radius: 1.5em;
  box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.2);
  animation: float 2s infinite alternate;
  line-height: 1.4;
}

.chat-bubble::after {
  content: "";
  position: absolute;
  bottom: -0.3em;
  right: 1em;
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  /* border-right: 0.5em solid transparent; */
  border-top: 0.5em solid white;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-0.5em);
  }
}

@media screen and (max-width: 700px) {
  .container {
    margin-top: 1.2rem;
    font-size: 0.2em;
    z-index: -10;
  }

  @media screen and (max-width: 440px) {
    .container {
      margin-top: -1rem;
    }
  }
}
