@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-display: swap;
}

._access-menu button {
  color: black;
}

body {
  --_access-icon-border-radius: 50%;
  --_access-icon-border: 0.1px solid white;
}

html {
  position: relative;
  min-height: 100%;
}
